<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three.js DEM and Satellite Visualization</title>

    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
      <div id="loader">
          <h1>Generating 3D Model ...</h1>
      </div>
    <div class="container" id="canvas-container"></div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body> 
</html>
